/* Colors */

:root {
	/* general */
	--clr-lime-green: hsl(163, 72%, 41%);
	--clr-bright-red: hsl(356, 69%, 56%);
	--clr-white: hsl(0, 0%, 100%);

	/* icons */
	--clr-facebook: hsl(208, 92%, 53%);
	--clr-twitter: hsl(203, 89%, 53%);
	--clr-instagram: linear
		gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
	--clr-youTube: hsl(348, 97%, 39%);

	/* Dark theme */
	--clr-DT-toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
	--clr-vDark-blue: hsl(230, 17%, 14%); /*BG, light theme text*/
	--clr-vDark-blue_two: hsl(232, 19%, 15%); /*Top BG Pattern*/
	--clr-dark-desaturated-blue: hsl(228, 28%, 20%); /*Card BG*/
	--clr-desaturated-blue: hsl(228, 34%, 66%); /*Text*/

	/* Light theme */
	--clr-LT-toggle: hsl(230, 22%, 74%);
	--clr-vPale-blue: hsl(225, 100%, 98%); /*Top BG Pattern*/
	--clr-Light-grayish-blue: hsl(227, 47%, 96%); /*Card BG*/
	--clr-Dark-grayish-blue: hsl(228, 12%, 44%); /*Text*/
}

/* Universal styling */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* General styling */

html {
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
	font-family: "Inter", sans-serif;
}

.main_container {
	display: flex;
	flex-direction: column;
	width: 85%;
	margin: 0 auto;
}

/* Header */

.header {
	color: var(--clr-Dark-grayish-blue);
	font-weight: bold;
}

.header h1 {
	color: var(--clr-vDark-blue);
	font-size: 2.3rem;
	margin-bottom: .6rem;
}

hr {
	margin: 2rem 0 1.7rem;
	border-bottom: 0px;
}

/* Theme Switch */

.theme_switch {
	color: var(--clr-Dark-grayish-blue);
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 3rem;
}

.toggle {
	position: relative;
	width: 50px;
	height: 20px;
	background: var(--clr-LT-toggle);
	border-radius: 50px;
	cursor: pointer;
}

.circle {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 50%;
	left: 5%;
	transform: translateY(-50%);
	background: var(--clr-white);
	border-radius: 50%;
}

.toggle:hover .circle {
	animation: move .3s linear forwards;
}

@keyframes move {
	0% {
		left: 5%;
	}
	50% {
		left: 30%;
	}
	100% {
		left: 63%;
	}
}

/* Cards Section */

.card {
	background: var(--clr-Light-grayish-blue);
	padding: 2rem 1rem;
	margin: 1rem auto;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.8rem;
}

.user {
	display: flex;
	gap: 1rem;
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--clr-Dark-grayish-blue);
	justify-content: center;
	align-items: center;
}

.followers {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	text-transform: uppercase;
	color: var(--clr-Dark-grayish-blue);
	justify-content: center;
	align-items: center;
}

.number {
	font-weight: bold;
	color: var(--clr-vDark-blue);
	font-size: 4.8rem;
}

.follower-type {
	letter-spacing: 0.4rem;
	font-size: 1.1rem;
}

.today_stat {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	font-size: 1.1rem;
	align-items: center;
	font-weight: bold;
}

.gain {
	color: var(--clr-lime-green);
}

.loss {
	color: var(--clr-bright-red);
}

.arrow {
	width: 0.7rem;
	height: 0.5rem;
}

span {
	text-transform: lowercase;
}

.facebook {
	border-top: 4px solid var(--clr-facebook);
}

.twitter {
	border-top: 4px solid var(--clr-twitter);
}

.instagram {
	background: linear-gradient(
				var(--clr-Light-grayish-blue),
				var(--clr-Light-grayish-blue)
			)
			padding-box,
		linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) border-box;
	border-top: 4px solid transparent;
}

.youtube {
	border-top: 4px solid var(--clr-youTube);
}

/* Overview Section */

.overview_section {
	color: var(--clr-Dark-grayish-blue);
	margin-top: 3.5rem;
	margin-bottom: 4rem;
}

.overview_title {
	margin-bottom: 2.5rem;
}

.overview_card {
	background: var(--clr-Light-grayish-blue);
	border-radius: 5px;
	padding: 2.4rem 2.5rem 1.5rem;
	margin: 1rem auto;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.overview_top-row {
	display: flex;
	justify-content: space-between;
}

.overview_bottom-row {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.social_appearance {
	font-size: 1.2rem;
}

.overview_top-row img {
	width: 1.7rem;
}

.social_number {
	color: var(--clr-vDark-blue);
	font-size: 2.7rem;
}

.social_stat {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .4rem;
	font-size: 1rem;
	margin-bottom: .3rem;
}

