/* Colors */

:root {
	/* general */
	--clr-lime-green: hsl(163, 72%, 41%);
	--clr-bright-red: hsl(356, 69%, 56%);
	--clr-white: hsl(0, 0%, 100%);

	/* icons */
	--clr-facebook: hsl(208, 92%, 53%);
	--clr-twitter: hsl(203, 89%, 53%);
	--clr-instagram: linear
		gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
	--clr-youTube: hsl(348, 97%, 39%);

	/* Dark theme */
	--clr-DT-toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
	--clr-vDark-blue: hsl(230, 17%, 14%); /*BG, light theme text*/
	--clr-vDark-blue_two: hsl(232, 19%, 15%); /*Top BG Pattern*/
	--clr-dark-desaturated-blue: hsl(229, 27%, 20%); /*Card BG*/
	--clr-desaturated-blue: hsl(228, 34%, 66%); /*Text*/

	/* Light theme */
	--clr-LT-toggle: hsl(230, 22%, 74%);
	--clr-vPale-blue: hsl(225, 100%, 98%); /*Top BG Pattern*/
	--clr-Light-grayish-blue: hsl(228, 50%, 96%); /*Card BG*/
	--clr-Dark-grayish-blue: hsl(228, 12%, 44%); /*Text*/
}

/* Universal styling */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* General styling */

html {
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
	font-family: "Inter", sans-serif;
	height: 100%;
}

.bg {
	background: var(--clr-vPale-blue);
	width: 100%;
	height: 24%;
	position: absolute;
	top: 0;
	z-index: -5;
	border-bottom-left-radius: 7%;
	border-bottom-right-radius: 7%;
}

.main_container {
	display: flex;
	flex-direction: column;
	width: 85%;
	max-width: 540px;
	margin: 2rem auto 0;
}

/* Header */

.header_content {
	max-width: 490px;
}

.header {
	color: var(--clr-Dark-grayish-blue);
	font-weight: bold;
}

.header h1 {
	color: var(--clr-vDark-blue);
	font-size: 2.3rem;
	margin-bottom: 0.6rem;
}

hr {
	margin: 2rem 0 1.7rem;
	border-bottom: 0px;
}

/* Theme Switch */

.theme_switch {
	color: var(--clr-Dark-grayish-blue);
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 3rem;
}

.toggle {
	position: relative;
	width: 50px;
	height: 20px;
	background: var(--clr-LT-toggle);
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s;
}

.toggle:hover {
	background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

.toggle.backward {
	background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
	transition: all 0.3s;
}

.circle {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 50%;
	left: 63%;
	transform: translateY(-50%);
	background: var(--clr-white);
	border-radius: 50%;
	transition: all 0.3s;
}

.toggle.backward .circle {
	background: var(--clr-vDark-blue);
	animation: backward 0.3s linear forwards;
	transition: all 0.3s;
}

@keyframes backward {
	0% {
		left: 63%;
	}
	50% {
		left: 30%;
	}
	100% {
		left: 5%;
	}
}

.toggle.forward .circle {
	animation: forward 0.3s linear forwards;
}

@keyframes forward {
	0% {
		left: 5%;
	}
	50% {
		left: 30%;
	}
	100% {
		left: 63%;
	}
}

/* Cards Section */

.card {
	background: var(--clr-Light-grayish-blue);
	padding: 2rem 1rem;
	max-width: 305px;
	margin: 1rem auto;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.8rem;
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
}

.card:hover {
	cursor: pointer;
	background: hsl(228, 50%, 92%);
}

.user {
	display: flex;
	gap: 1rem;
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--clr-Dark-grayish-blue);
	justify-content: center;
	align-items: center;
}

.followers {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	text-transform: uppercase;
	color: var(--clr-Dark-grayish-blue);
	justify-content: center;
	align-items: center;
}

.number {
	font-weight: bold;
	color: var(--clr-vDark-blue);
	font-size: 4.8rem;
}

.follower-type {
	letter-spacing: 0.4rem;
	font-size: 1.1rem;
}

.today_stat {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	font-size: 1.1rem;
	align-items: center;
	font-weight: bold;
}

.gain {
	color: var(--clr-lime-green);
}

.loss {
	color: var(--clr-bright-red);
}

.arrow {
	width: 0.7rem;
	height: 0.5rem;
}

span {
	text-transform: lowercase;
}

.facebook::before {
	content: "";
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 4px;
	background: var(--clr-facebook);
}

.twitter::before {
	content: "";
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 4px;
	background: var(--clr-twitter);
}

.instagram::before {
	content: "";
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 4px;
	background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}

.youtube::before {
	content: "";
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 4px;
	background: var(--clr-youTube);
}

/* Overview Section */

.overview_section {
	color: var(--clr-Dark-grayish-blue);
	margin-top: 3.5rem;
	margin-bottom: 4rem;
}

.overview_title {
	margin: 0 auto 2.5rem;
	max-width: 300px;
}

.overview_card {
	background: var(--clr-Light-grayish-blue);
	border-radius: 5px;
	padding: 2.4rem 2.5rem 1.5rem;
	margin: 1rem auto;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	max-width: 305px;
	transition: all 0.3s;
}

.overview_card:hover {
	cursor: pointer;
	background: hsl(228, 50%, 92%);
}

.overview_top-row {
	display: flex;
	justify-content: space-between;
}

.overview_bottom-row {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.social_appearance {
	font-size: 1.2rem;
}

.overview_top-row img {
	width: 1.7rem;
}

.social_number {
	color: var(--clr-vDark-blue);
	font-size: 2.7rem;
}

.social_stat {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.4rem;
	font-size: 1rem;
	margin-bottom: 0.3rem;
}

/* Black Theme */

body.dark_theme {
	background: var(--clr-vDark-blue);
}

body.dark_theme .bg {
	background: var(--clr-vDark-blue_two);
}

.main_container.dark_theme .header {
	color: var(--clr-desaturated-blue);
}

.main_container.dark_theme .header h1 {
	color: white;
}

.main_container.dark_theme .theme_switch {
	color: var(--clr-desaturated-blue);
}

.main_container.dark_theme .card {
	background: var(--clr-dark-desaturated-blue);
	transition: all 0.3s ease-in-out;
}

.main_container.dark_theme .card:hover {
	background: hsl(229, 27%, 30%);
}

.main_container.dark_theme .user,
.main_container.dark_theme .followers {
	color: var(--clr-desaturated-blue);
}

.main_container.dark_theme .number {
	color: white;
}

.main_container.dark_theme .overview_section {
	color: var(--clr-desaturated-blue);
}

.main_container.dark_theme .overview_title {
	color: white;
}

.main_container.dark_theme .overview_card {
	background: var(--clr-dark-desaturated-blue);
	transition: all 0.3s ease-in-out;
}

.main_container.dark_theme .overview_card:hover {
	background: hsl(229, 27%, 30%);
}

.main_container.dark_theme .social_number {
	color: white;
}

/* Screen Sizes */

@media screen and (min-width: 1000px) {
	.main_container {
		width: 90%;
		margin: 7rem auto 0;
		max-width: 1240px;
	}

	hr {
		display: none;
	}

	.header_content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: none;
	}

	.theme_switch {
		gap: 1.7rem;
		margin-bottom: 0;
	}

	.overall_stats {
		display: flex;
		gap: 2rem;
	}

	.card {
		padding: 2rem 4.5rem;
		margin-top: 6rem;
		max-width: none;
	}

	.overview_title {
		max-width: none;
	}

	.overview_stats {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 1rem 2.5rem;
	}

	.overview_card {
		width: 100%;
		max-width: none;
	}
}

@media screen and (min-width: 1260px) {
	.bg {
		height: 30%;
	}

	.header_content {
		font-size: 1.7rem;
	}

	.header h1 {
		font-size: 3rem;
	}

	.overall_stats {
		gap: 1rem;
		max-width: 1250px;
	}

	.card {
		padding: 3.5rem 7rem;
		margin-top: 6rem;
		max-width: none;
	}

	.user {
		font-size: 1.5rem;
	}

	.number {
		font-size: 6rem;
	}

	.followers {
		font-size: 1.7rem;
	}

	.today_stat {
		font-size: 1.5rem;
	}

	.overview_section {
		max-width: 1240px;
	}

	.overview_title {
		font-size: 2.3rem;
	}

	.overview_stats {
		gap: 1rem 2rem;
	}

	.social_appearance {
		font-size: 1.5rem;
	}

	.social_number {
		font-size: 3.3rem;
	}

	.social_stat {
		font-size: 1.5rem;
	}
}
